<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CodeClan Cinema</title>
  </head>
  <body>
    <h1 class="title">Currently Showing</h1>
    <h2>
      <div class="list">
      <ul><a href="films/details/1"><%= @film1.title %></a></ul>
      <ul><a href="films/details/2"><%= @film2.title %></a></ul>
      <ul><a href="films/details/3"><%= @film3.title %></a></ul>
      </div>
    </h2>

  </body>
</html>
